<form method="POST" class="w-50 m-auto">
    <input class="form-control" name="nom" placeholder="Nom" required>
    <input class="form-control" name="prenom" placeholder="Prénom" required>
    <input class="form-control" name="email" placeholder="Email" type="email" required>
    <input class="form-control" name="password" placeholder="Mot de passe" type="password" required>
    <input class="form-control" name="password-confirm" placeholder="Confirmer le mot de passe" type="password" required>
    <input class="form-control" type="submit" value="S'inscrire">
</form>