<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/POE-PHP-avance/Crypto/exercice/accueil.php">Cryto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/POE-PHP-avance/Crypto/exercice/inscription.php">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POE-PHP-avance/Crypto/exercice/login.php">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POE-PHP-avance/Crypto/exercice/logout.php">Déconnexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POE-PHP-avance/Crypto/exercice/secret.php">Secret</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>