<h1 class="display-5 text-center mb-3">Ajouter un film</h1>
<form method="POST" class="w-50 m-auto" enctype="multipart/form-data">
    <input class="form-control mb-3" type="text" name="title" placeholder="Titre" required>
    <textarea class="form-control mb-3" type="text" name="resume" placeholder="Résumé" required></textarea>
    <input class="form-control mb-3" type="text" name="genre" placeholder="Genre" required>
    <input class="form-control mb-3" type="file" name="image">
    <div class="d-grid gap-2">
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </div>
</form>