<h1 class="display-5 text-center mb-3">Ajouter une location</h1>
<form method="POST" class="w-50 m-auto">
    <input class="form-control mb-3" type="text" name="idClient" placeholder="Id du client" require>
    <input class="form-control mb-3" type="text" name="immatriculation" placeholder="Immatriculation" require>
    <label for="dateDebut">Date de début</label>
    <input class="form-control mb-3" type="datetime-local" name="dateDebut" id="dateDebut" require>
    <label for="dateFin">Date de fin</label>
    <input class="form-control mb-3" type="datetime-local" name="dateFin" id="dateFin" require>
    <label for="dateRentree">Date de rentrée</label>
    <input class="form-control mb-3" type="datetime-local" name="dateRentree" id="dateRentree" require>
    <label for="assurance">Assurance</label>
    <input class="mb-3" type="checkbox" name="assurance" id="assurance">
    <div class="d-grid gap-2">
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </div>
</form>