<h1 class="display-5 text-center mb-3">Ajouter un client</h1>
<form method="POST" class="w-50 m-auto">
    <input class="form-control mb-3" type="text" name="nom" placeholder="Nom" require>
    <input class="form-control mb-3" type="text" name="prenom" placeholder="Prénom" require>
    <input class="form-control mb-3" type="text" name="codePostal" placeholder="Code Postal" require>
    <input class="form-control mb-3" type="text" name="localite" placeholder="Ville" require>
    <input class="form-control mb-3" type="text" name="rue" placeholder="Rue" require>
    <input class="form-control mb-3" type="text" name="numero" placeholder="Numéro" require>
    <input class="form-control mb-3" type="text" name="telephone" placeholder="Téléphone" require>
    <input class="form-control mb-3" type="email" name="email" placeholder="Email" require>
    <div class="d-grid gap-2">
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </div>
</form>